@{
    ViewData["Title"] = "Artist | Add";
}

<h1>Add new artists</h1>
<form method="POST">
    <div class="form-row">
        <div class="form-group col-md-6 mb-2">
            <label>Artist Name</label>
            <input class="form-control mb-2" type="text" name="Name" placeholder="Name" required>
            <label>Age</label>
            <input class="form-control" type="number" name="Age" placeholder="Age" required>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>